/*general*/
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: var(--btn-font);
    font-size: var(--body-fs);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.container{
    max-width: 1352px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    background-color: white;
    border: none;
    border-radius: var(--btn-radius);
    text-decoration: none;
    color: inherit;
}
.title{
    font-weight: 700;
    color: var(--title-color-primary);
    line-height: 1.16;
}


.gradient-btn {
    display: inline-block;
    font-size: var(--btn-fsM);
    font-weight: 400;
    line-height: 1.16;
    box-shadow: 0px 20px 30px 0px #584FCD33;
    background:  linear-gradient(90deg, var(--c1, #574DCC), var(--c2, #579AFF) 51%, var(--c1, #574DCC)) var(--x, 0)/ 200%;
    padding: 0.875em 3.875em;
    color: white;
    transition: all 0.3s ease;
    
}
.gradient-btn:hover { --x: 100%; }
.gradient-btn {
  --c1: #574DCC;
  --c2: #579AFF;
}

.google-btn a{
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    background-color: #1A73E8;
    box-shadow: 0px 0px 10px 0px #261F7B0D inset;
    border-radius: 10px;
    padding: 19px 0;
    
}
.google-btn a>img{
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: white;
    border-radius: 7px;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    object-fit: none;
}
#second-btn-google{
    margin-top: 29px;
}

.field-icon {
  position: absolute;
  z-index: 150;
  width: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  }
.field-icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #00000078;
    top: 50%;
    position: absolute;
    left: 0;
    transform-origin: center;
    transform: translate(0, -50%) rotate(0deg);
    transition: all 0.5s ease;
    opacity: 0;
    
}
.field-icon--active::after {
    opacity: 1;
    transform:  rotate(45deg);
    
   
    
}
#password{
    width: 100%;
}
/* general end */

/* form  */

.second-form_span{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    color: #8789A1;
    margin-top: 18px;
    margin-bottom: 16px;

  
}
.second-form_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.16;
    text-align: center;
    color: #595B75;
    margin-top: 21px;

}
.form_slide{
    padding: 58px 63px 0 63px;
}
.form form{
    display: flex;
    flex-direction: column;
}
.form input[type=text],input[type=email],input[type=password]{
    padding: 20px;
    font-size: 18px;
    line-height: 1.16;
    color: var(--title-color-black);
    box-shadow: 0px 0px 10px 0px #261F7B0D inset;
    background-color: #F5F7F9;
    border-radius: 10px;
    border: none;

}
.form_input-group+ .form_input-group{
    margin-top: 27px;
}
.form_input-group{
    display: flex;
    flex-direction: column;
}
.input-group_title{
    font-size: 18px;
    line-height: 1.16;
    color: var(--title-color-primary);
    font-weight: 400;
    margin-bottom: 12px;
}
.radio-input{
    opacity: 0;
    position: absolute;
    bottom: 0;
}
.sex-label-wrap{
    display: flex;
    gap: 2px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.sex-label-wrap label{
    font-size: 18px;
    line-height: 1.16;
    display: block;
    padding: 19px 0;
    text-align: center;
    box-shadow: 0px 0px 5.8px 0px #00000005 inset;
    background-color: #F5F7F9;
    color: #8789A1;
    transition: background-color 0.3s ease;
}
.radio-input:checked + label{
    background-color: #aeafb1;
    color: #50515c;
    box-shadow: 0px 5.8px 23.19px 0px #0000001A;
}
.radio-group{
    width: 100%;
}
.checkbox-group{
    flex-direction: row;
    align-items: flex-start;
    max-width:80%;
    color: #8789A1;
    gap: 15px;
    margin-top: 17px!important;
}

    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 27px;
        cursor: pointer;
        margin-bottom: 4px;
        display: inline-block;
        font-size: 14px;
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0px; top: 10px;
        width: 18px; height: 18px;
        border: 0px solid #cccccc;
        background: #F5F7F9;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        content: '✔';
        position: absolute;
        top: 10px; left: 3px;
        font-size: 16px;
        line-height: 1.2;
        color: #09ad7e;
        transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #999999;
        background-color: #dddddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
        color: #999999;
    }
    [type="checkbox"]:disabled + label {
        color: #aaaaaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
        border: 2px dotted #cfcfcf;
    }
    /* hover style just for information */
    label:hover:before {
        border: 2px solid #4778d9!important;
        background: #ffffff;
    }

/* form end */


/* header */
.header_inner{
    padding-top: 48px;
    display: flex;
    justify-content: flex-end;
}

.header_btn {
    display: block;
    font-size: var(--btn-fsS);
    font-weight: 400;
    line-height: 1.16;
    background: linear-gradient(90deg, #579AFF 11.17%, #574DCC 96.28%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.142857142857143em 2.625em;
    box-shadow: 0px 10px 30px 0px #0000000D;
    transition: box-shadow 0.5s ease;
}
.header_btn:hover{
    box-shadow: 0px 10px 30px 0px #00000021;
}


/* header end */

/* hero  */
.hero{
    display: none;
}
.hero_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
}
.hero_title{
    font-size:var(--title-fs);
    text-align: center;
}
.hero_subtitle{
    font-size:var(--subtitle-fs);
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}
.hero_img{
    position: relative;
    margin-top: 45px;
    width: 100%;
}
.hero_img>img{
    transform: translateX(15px);
    width: 100%;
}
.hero_img::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
    filter: blur(50px);
    z-index: -1;

}
.hero_btn {
    transform: translateY(-100%);
    width: 100%;
    text-align: center;
}
/* hero end */

/* main section  */
.main_inner{
    padding-top: 76px;
    display: flex;
    justify-content: space-between;
 

}
.main_title--mobile,.main_subtitle--mobile{
    display: none;
}

.main_text-wrap{
    margin-top: 147px;
}
.main_title{
    font-size: var(--title-fs);
    max-width: 728px;
    color: var(--title-color-primary);
    font-weight: 700;
    line-height: 1.16;
}
.main_subtitle{
    font-size: var(--subtitle-fs);
    max-width: 421px;
    color: var(--title-color-primary);
    font-weight: 400;
    line-height: 1.16;
    margin-top: 1.6em;
}


.main_form-wrap{
    max-width: 483px;
    width: 100%;
    height: 716px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 10px 40px 0px #0000001A;

}
.main_form-wrap::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -60px;
    right: -50px;
    width: 356px;
    height: 356px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
    filter: blur(100px);
    z-index: -1;

}

.form_slider{
    height: 100%;
  
}
.swiper-pagination-bullet {
    width: 20px!important;
 
}
.swiper-pagination {
    background-color: #09ad7e;
}

/* main section end */

/* photos  */
.photos .container{
    max-width: 1920px;
    padding: 0;
}

.photos_inner{
   padding-top:128px;
}
.photos-slider_item{
    width: auto;
    height: 600px;
    box-shadow: 0px 10px 30px 0px #0000000D;

}
.photos-slider_item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 40px;
}

/* photos end */

/* about  */
.about{
    margin-top: 176px;
}
.about_inner{
    background-color: white;
    border-radius: 60px;
    text-align: center;
    padding: 66px 0 80px 0;
    max-width: 1347px;
    box-shadow: 0px 10px 30px 0px #0000000D;
    position: relative;

}
.about_inner::after{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    right: -108px;
    width: 217px;
    height: 217px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
    filter: blur(100px);
    z-index: -1;

}

.about_title{
    font-size: var(--title-fs);
    font-weight: 700;
    color: var(--title-color-primary);
    line-height: 1.16;
}
.about_text{
    max-width: 650px;
    margin: 43px auto 49px;
    font-size: var(--subtitle-fs);
    color: var(--title-color-primary);  
    font-weight: 400;
    line-height: 1.16;
}

.about_btn {
    padding: 0.875em 3.875em; 
}

/* about end */

/* why-us  */
.why-us_slider{
 display: none;
}
.why-us_photo{
    margin-top: 60px;
    min-height: 308px;
    width: 100%;
    height: 100vw;
    border-radius: 20px;
    overflow: hidden;
    display: none;
}
.why-us_photo>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.why-us{
    margin-top: 170px;
}
.why-us_inner{
    position: relative;
}
.why-us_inner::after{
    content: '';
    display: block;
    position: absolute;
    top: -40px;
    left: 45%;
    width: 473px;
    height: 473px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
    filter: blur(100px);
    z-index: -1;

}
.why-us_inner::before{
    content: '';
    display: block;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(52, 148, 230, 0.1) 0%, rgba(236, 110, 173, 0.1) 100%);
    filter: blur(100px);
    z-index: -1;

}

.why-us .container{
    max-width: 1292px;
}
.why-us_title{
    font-size: var(--title-fs);
    text-align: center;
}
.why-us_cart-wrap{
    margin-top: 46px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 46px 40px;
}

.why-us-cart{
    padding: 40px 40px;
    box-shadow: 0px 10px 30px 0px #0000000D;
    border-radius: 40px;
    background-color: white;

    
}
.why-us-cart:nth-child(3){
    grid-column:2;
}
.why-us-cart:nth-child(4){
    grid-column:3;
}

.why-us-cart_title{
    display: flex;
    align-items: center;
    font-size: var(--subtitle-fs);
    margin-bottom: 4px;
    height: 2em;
}
.why-us-cart_title>img{
    display: inline-block;
    margin-right: 10px;
  
    
}
.why-us-cart_content{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    color: var(--title-color-primary);
    margin-top: 1em;
}

/* why-us end */

/* testimonials  */
.testimonials{
    margin-top: 170px;
}
.testimonials_inner{
    position: relative;
}
.testimonials_inner::after{
    content: '';
    display: block;
    position: absolute;
    top: -22%;
    left: 56%;
    width: 720px;
    height: 720px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(52, 148, 230, 0.2) 0%, rgba(236, 110, 173, 0.2) 100%);
    filter: blur(100px);
    z-index: -1;

}
.testimonials_inner::before{
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    left: -8%;
    width: 217px;
    height: 217px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(52, 148, 230, 0.5) 0%, rgba(236, 110, 173, 0.5) 100%);
    filter: blur(50px);
    z-index: -1;

}

.testimonials_title{
    font-size: var(--title-fs);
    text-align: center;
}
.testimonials-item{
    display: flex;
    gap: 1em;
    background-color: white;
    border-radius: 30px;
    height: 120px;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    padding: 0 110px;
    box-shadow: 0px 10px 30px 0px #0000000D;

}
.testimonials-item p {
    color: var(--title-color-black);
    font-weight: 400;
    font-size: var(  --subtitle-fs);
    line-height: 1.16;
}
.testimonials_item-wrap{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 31px;
}

/* testimonials end */

/* communication  */

.communication{
    margin-top: 172px;
}
.communication_inner{
    text-align: center;
}
.communication .container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.communication_title{
    max-width: 1131px;
    font-size: var(--title-fs);
    text-align: center;
    margin: 0 auto;
    color: var(--title-color-black);
}
.communication_subtitle{
    max-width: 558px;
    font-size: var( --subtitle-fs);
    text-align: center;
    margin: 0 auto;
    color: var(--title-color-black);
    margin-top: 26px;
    font-weight: 400;
}
.communication-slider{
    margin-top: 38px;
    margin-bottom: 60px;
}

.communication-slider_item{
    width: 435px;
    height: 410px;
    box-shadow: 0px 10px 30px 0px #0000000D;
    border-radius: 40px;
    overflow: hidden;
    
}
.communication-slider_item > img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.communication_btn {
    padding: 0.875em 3.875em; 
}

/* communication end */

/* action  */
.action{
    margin-top: 393px;
}
.action .container{
    max-width: 1292px;
}
.action_content{
    position: relative;
    padding-bottom:274px;
}
.action_title{
    font-size: var(--title-fs);
    max-width: 789px;
}
.action_subtitle{
    font-size: 21px;
    max-width: 538px;
    font-weight: 400;
    padding-top: 32px;
}
.action_btn{
    padding: 0.8em 3.8em; 
    margin-top: 36px;
    
}
.action_img{
    position: absolute;
    bottom: 0;
    right: -23%;
    width: 750px;
    height: 818px;
}
.action_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action_img::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
    filter: blur(100px);
    z-index: -1;
}
/* action end */

/* footer  */
.footer{
    background-color: #FCFCFF;
}
.footer_inner{
    padding: 103px 0 90px 0;
    display: flex;
    justify-content: space-between;
}
.footer a,.footer_menu-title {
    text-decoration: none;
    color: var(--title-color-primary);
    font-size: 22px;
    line-height: 1.16;
    font-weight: 400;
}
.footer_menu-title{
    font-weight: 700;
}
.footer a:hover{
    color: black;
}
.footer_contact{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.footer_menu{
    display: flex;
    gap: 127px;
}
.footer_menu>.col{
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.footer_menu-title{
    margin-bottom: 18px;
}

/* footer end */




/* media  */



@media only screen and (max-width: 1024px) {
    .main_inner{
        flex-direction: column;
        align-items: center;
       
        padding-top: 0;
    }
    .header{
        display: none;
    }
    .main_title{
        text-align: center;
    }
    .main_subtitle{
        margin: 0 auto;
    }
    .main_form-wrap{
        margin-top: 50px;
    }
    .photos-slider_item{
        height: 312px;
        max-width:100vw ;
        width: fit-content;
    }
    .action_img{
        z-index: -1;
        filter: brightness(50%);
    }
    .photos-slider_item img{
        width: auto;
    }
    .why-us_cart-wrap{
        grid-template-columns:repeat(2,1fr);
    }
    .why-us-cart:nth-child(4),.why-us-cart:nth-child(3){
        grid-column: auto;
    }
    .footer_inner,.footer_menu {
        flex-direction: column;
    }
    .footer_inner{
        padding: 52px 15px;
    }
    .footer{
        margin-top: 60px;
    }
    .footer_contact{
        gap: 10px;
    }
    .footer_menu{
        margin-top: 30px;
        gap:30px;
    }
    .footer_menu-title{
        margin-bottom: 0px;
    }
    .footer_menu>.col{
        gap: 12px;
    }
    .footer a, .footer_menu-title{
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {
    .form_slide{
        padding: 30px 36px ;
    }
    .main_form-wrap{
        border-radius: 17.39px;
        height: auto;
    }
    .input-group_title{
        margin-bottom: 7px;
    }
    .input-group_title,.sex-label-wrap label,.form input[type=text], input[type=email], input[type=password]{
        font-size: 12px;
        
    }
    .form input[type=text], input[type=email], input[type=password]{
        padding: 12px;
        border-radius: 5.8px;
    }
    .checkbox-group{
        font-size: 10px;
        max-width: 90%;
    }
    [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
        top: 5px;
    }
    .input-group [type="submit"]{
        font-size: 14px;
        border-radius: 5.8px;
    }
    .form_input-group+ .form_input-group{
        margin-top: 17px;
    }
    .sex-label-wrap label{
        padding: 10px 0;
    }
    .google-btn a{
        font-size: 12px;
        padding: 10px 0 ;
        border-radius: 7.8px;
    }
    .google-btn a>img{
        width: 34px;
        height: 34px;
        left: 2px;
    }
    .second-form_span{
        font-size: 12px;
    }
    .second-form_text{
        font-size: 10px;
    }
    .photos_inner{
        padding-top: 61px;
    }
    .about{
        margin-top: 61px;
    }
    .about_inner{
        border-radius: 20px;
        padding: 40px 15px;
    }
    .about_text{
        margin: 13px auto 48px;
    }
    .about_btn{
        padding: 17px 0;
        width: 100%;
    }
    .why-us{
        margin-top: 55px;
    }
    .why-us_cart-wrap{
        display: none;
    }
    .why-us_slider{
        margin-top: 30px;
        display: block;
    }
    .why-us-cart_title {
        font-size: 18px;
    }
    .why-us-cart{
        padding: 33px 25px;  
        border-radius: 20px;
    }
    .why-us-cart_content{
        font-size: 16px;
    }
    .why-us-cart_title>img{
        width: 24px;
        
    }
    .why-us_photo{
        display: block;
    }
    .why-us_inner::after{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-60%);
    }
    .testimonials{
        margin-top: 69px;
    }
    .testimonials-item{
        flex-direction: column;
        padding: 40px 20px;
        height: auto;
        text-align: center;
    }
    .testimonials_item + .testimonials-item{
        margin-top: 20px;
    }
    .communication{
        margin-top: 57px;
    }
    .communication_title,.communication_subtitle{
        text-align: left;
        color: var(--title-color-primary);
    }
    .communication_subtitle{
        margin-top: 24px;
        font-weight: 400;
    }
    .communication-slider{
        margin: 30px 0;
    }
    .communication-slider_item{
        /* width: auto; */
        height: 305px;
    }
    .communication_btn {
        padding: 18px 0;
        width: 100%;
    }
    .communication_inner{
        position: relative;
    }
    .communication_inner::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 473px;
        height: 473px;
        border-radius: 50%;
        background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
        filter: blur(100px);
        z-index: -1;
    }
   
}


@media only screen and (max-width: 768px) {
    .action{
        display: none;
    }
    .hero{
        display: block;
    }
    .container{
        padding: 0 20px!important;
    }
    .photos-slider_item{
        height: 312px;
        /* max-width:90vw ; */
    }
    .gradient-btn {
     
        font-size: var(--btn-fsM);
    }
    .main_title{
        text-align: left;
    }
    .main_text-wrap{
        margin-top: 53px;
    }
    .main_title,.main_subtitle{
        display: none;
    }
    .main_title--mobile,.main_subtitle--mobile{
        display: block;
    }
    .main_subtitle.main_subtitle--mobile{
        margin-top: 14px;
    }
} 


/* @media only screen and (max-width: 1280px) {...} */

/* media end */